<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/DevReachTemplates/App_Themes/DevReach" name="DevReach" />
	</frontendThemes>
</appearanceConfig>