<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0" encryptionKey="[sf-scrt-rslvr=Encrypt]Ica9p2qkbXzkbL9Du6lyIT+Sc7YWXlEmn4bw3mDHriNhgVQFLdKX0uo+76EAl50EwhatfuEZi5f3FaH/X9GP94iV6bi6smoTN5pF8Uo4rFMJ18HMkAImxil1DJDsJ7ngVI5Imdu9IAYAnnE8wQ7OB/zgxYauQ5xWZtdCY1KmE28mbW8e8HsoXuzf20LE3AGegAAAAA==" />