<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.DevReach.SessionBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="SessionBackendList" configFile="DynamicModulesConfig.DevReach.Session_SssnBckndLst.config" />
				<config:lazy key="SessionBackendInsertView" configFile="DynamicModulesConfig.DevReach.Session_BckndInsrtVw.config" />
				<config:lazy key="SessionBackendPreviewView" configFile="DynamicModulesConfig.DevReach.Session_nBckndPrvwVw.config" />
				<config:lazy key="SessionBackendEditView" configFile="DynamicModulesConfig.DevReach.Session_snBckndEdtVw.config" />
				<config:lazy key="SessionBackendDuplicateView" configFile="DynamicModulesConfig.DevReach.Session_BckndDplctVw.config" />
				<config:lazy key="SessionBackendVersionPreview" configFile="DynamicModulesConfig.DevReach.Session_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.DevReach.PresenterBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="SpeakerBackendList" configFile="DynamicModulesConfig.DevReach.Prsenter_SpkrBckndLst.config" />
				<config:lazy key="SpeakerBackendInsertView" configFile="DynamicModulesConfig.DevReach.Prsenter_BckndInsrtVw.config" />
				<config:lazy key="SpeakerBackendPreviewView" configFile="DynamicModulesConfig.DevReach.Prsenter_rBckndPrvwVw.config" />
				<config:lazy key="SpeakerBackendEditView" configFile="DynamicModulesConfig.DevReach.Prsenter_krBckndEdtVw.config" />
				<config:lazy key="SpeakerBackendDuplicateView" configFile="DynamicModulesConfig.DevReach.Prsenter_BckndDplctVw.config" />
				<config:lazy key="SpeakerBackendVersionPreview" configFile="DynamicModulesConfig.DevReach.Prsenter_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.DevReach.DayBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="DayBackendList" configFile="DynamicModulesConfig.DevReach.Day_DayBackndLst.config" />
				<config:lazy key="DayBackendInsertView" configFile="DynamicModulesConfig.DevReach.Day_BckndInsrtVw.config" />
				<config:lazy key="DayBackendEditView" configFile="DynamicModulesConfig.DevReach.Day_DyBckndEdtVw.config" />
				<config:lazy key="DayBackendDuplicateView" configFile="DynamicModulesConfig.DevReach.Day_BckndDplctVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.DevReach.LocationBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="LocationBackendList" configFile="DynamicModulesConfig.DevReach.Location_LctnBckndLst.config" />
				<config:lazy key="LocationBackendInsertView" configFile="DynamicModulesConfig.DevReach.Location_BckndInsrtVw.config" />
				<config:lazy key="LocationBackendPreviewView" configFile="DynamicModulesConfig.DevReach.Location_nBckndPrvwVw.config" />
				<config:lazy key="LocationBackendEditView" configFile="DynamicModulesConfig.DevReach.Location_tnBckndEdtVw.config" />
				<config:lazy key="LocationBackendDuplicateView" configFile="DynamicModulesConfig.DevReach.Location_BckndDplctVw.config" />
				<config:lazy key="LocationBackendVersionPreview" configFile="DynamicModulesConfig.DevReach.Location_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>