<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.6000.0">
	<notifications newPostNotificationTemplateId="fe31842d-66df-641a-938b-ff0000431570" newThreadNotificationTemplateId="ff31842d-66df-641a-938b-ff0000431570" />
</forumsConfig>