<?xml version="1.0" encoding="utf-8"?>
<siteSyncConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0">
	<notifications siteSyncCompletedSubmittedNotificationTemplateId="f79e842d-66df-641a-938b-ff0000431570" />
</siteSyncConfig>