<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0">
	<connectors>
		<add librariesProviderName="sf_translations_lib_provider" exportLibraryId="fc723f5b-d802-4a35-b6e6-bee938cd4a07" importLibraryId="24f3e0e7-5cbb-49cc-a07a-ab571595dea3" name="Xliff" config:flags="1" />
	</connectors>
</translationsConfig>